head{
    background-color: #AEA9AC;
}

body{
    background-color: rgb(203, 157, 157);
}

canvas{
    margin: 0 auto;
    vertical-align: middle;
}

h1{
    color: rgb(138, 92, 93);
    text-align: center;
    border-radius: 5px;
    
    font-family: monospace;
    font-size: 60px;
}
