head{
    background-color: #AEA9AC;
}

body{
    background-color: rgba(84, 110, 122, 1);
}

h1,p{
    color: rgba(197, 225, 165, 1);
    
    font-family: monospace;
    display: table;
}

h1{

    font-size: 60px;
}

button {
    background-color: rgb(95, 177, 7); /* Green */
    border: none;
    color: white;
    
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
}
button:hover{
    background-color: rgba(158, 177, 137, 1); /* Green */
}

input{
     display: block;
}